@font-face {
  font-family: "Itim";
  src: url(Itim-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Itim", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.pagetitle {
  margin: 0px;
  color: #000;
  transition: color 1s;
  text-decoration: none;
}

.pagetitle:hover {
  color: #a64d79;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
}

.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}